GB.SUTEL.DAL/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GB.SUTEL.FACADE.WS.Communication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GB.SUTEL.FACADE.WS.Communication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62814/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GB.SUTEL.FACADE.Entities" />
  <xs:complexType name="ResultMessageOfFacade_SampleEntity7cgKGpEZ">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultMessageOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/GB.SUTEL.FACADE.WS.Communication" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Facade_SampleEntity" Namespace="http://schemas.datacontract.org/2004/07/GB.SUTEL.FACADE.Entities" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFaulted" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GB.SUTEL.FACADE.Entities" minOccurs="0" name="Value" nillable="true" type="q1:Facade_SampleEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultMessageOfFacade_SampleEntity7cgKGpEZ" nillable="true" type="tns:ResultMessageOfFacade_SampleEntity7cgKGpEZ" />
</xs:schema>